@{
    ViewData["Title"] = "Home Page";
}




<section id="intro">

    <div class="container">
        <div class="row">
            <div class="span6">
                <h2><strong>Welcome To <span class="highlight primary"> Xtera Libraries</span></strong></h2>
                <p class="lead">
                    Get Access to your library directly from your Home
                </p>
                <ul class="list list-ok strong bigger">
                    <li> Get direct Access to books History Forgot </li>
                    <li>Make a write up and save it in your online Library</li>
                    <li>e-Library i s the future of all Libraries</li>
                </ul>

            </div>
            <div class="span6">

                <div class="group section-wrap upper" id="upper">
                    <div class="section-2 group">
                        <ul id="images" class="rs-slider">
                            <li class="group">
                                <a href="#">
                                    <img src="~/images/Emma.png" />
                                   
                                </a>
                            </li>
                            <li class="group">
                                <a href="#" class="slide-parent">
                                  
                                    <img src="~/images/therepublic.png" />

                                </a>
                            </li>
                            <li class="group">
                               
                                <img src="~/images/janeeyre.png" />

                            </li>
                        </ul>
                    </div>
                    <!-- /.section-2 -->
                </div>

            </div>
        </div>
    </div>

</section>
